*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
    --dashboard-font-size: max(clamp(20px, 3.05vh, 40px), clamp(20px, 1.45vw, 40px));
    --sidebar-font-size: max(clamp(16px, 2.6vh, 36px), clamp(16px, 1.25vw, 36px));
    --font-delta: calc(var(--dashboard-font-size) - var(--sidebar-font-size));

    --sidebar-item-min-gap: 16px;
    --sidebar-item-max-gap: 28px;
    --dashboard-min-gap: calc( var(--sidebar-item-min-gap) - var(--font-delta) );
    --dashboard-max-gap: calc( var(--sidebar-item-max-gap) - var(--font-delta) );

    --upper-sidebar-ratio: 1;
    --middle-sidebar-ratio: 4;
    --lower-sidebar-ratio: 4;

    --upper-sidebar-unit: 1fr;
    --middle-sidebar-unit: 4fr;
    --lower-sidebar-unit: 4fr;

    --upper-sidebar-items: 1;
    --middle-sidebar-items: 6;
    --lower-sidebar-items: 3;

    --sidebar-max-width: 350px;
    --sidebar-width-1:14vw;
    --sidebar-width-2:25vh;

    --first-container-width: min( max(var(--sidebar-width-1), var(--sidebar-width-2)), var(--sidebar-max-width));
    --second-container-width: 100vw - var(--first-container-width);
    /* --second-container-width: calc(100vw - var(--first-container-width)); */

    --card-min-width: 360px;
    --card-horizontal-margin:20px;
    --card-total-min-width: calc(2 * var(--card-horizontal-margin) + var(--card-min-width));

    --card-height: 300px;
    --card-vertical-margin: 20px;
    --card-total-height: calc(2 * var(--card-vertical-margin) + var(--card-height));

    --nav-height: 64px;
    --nav-font-size: 24px;
    --nav-horizontal-padding:28px;
    --nav-gap: 8px;
    --nav-img-height: 32px;
    --nav-logo-height: 48px;
    --header-btn-height: calc(2 * var(--sidebar-font-size));
    --header-btn-width: calc(4 * var(--sidebar-font-size));
    --header-img-height: calc(3 * var(--sidebar-font-size));

    /* --font-size-1: clamp(24px, 3.5vh, 52px); */

    --color-1: #a591bf;
    --color-1-hover: #9582ad;
    --color-2: #52485f;
    --color-3: #d79366;
    /* --color-4: #485e5f; */
    --color-4: #648485;
}

#outer-container{
    display: flex;
    width: 100vw;
    height: 100vh;

    display: flex;
}
#first-container{
    /* flex-basis: max(var(--first-container-width), 52px); */
    flex-basis: var(--first-container-width);
    background-color: var(--color-1);

    display: grid;
    grid-template-rows: var(--upper-sidebar-unit) var(--middle-sidebar-unit) var(--lower-sidebar-unit);

    padding: 20px 8px 20px 8px;

    & > *{
        display: flex;
        flex-direction: column;
    }
    
    & #middle-sidebar{
        justify-content: space-around;
    }
    
    & #lower-sidebar{
        justify-content: flex-end;
        gap: 1.5vh;
    }
}

.sidebar-item{
    display: flex;
    gap: clamp(var(--sidebar-item-min-gap), 2vw, var(--sidebar-item-max-gap));

    padding: 4px 0 4px 4px;
    border-radius: 4px;
}
.sidebar-item:hover{
    background-color: var(--color-1-hover);
}
.sidebar-item,
.sidebar-item>*{
    cursor: pointer;
}

.sidebar-item>img{
    width: var(--sidebar-font-size);
}
.sidebar-item>button{
    font-size: var(--sidebar-font-size);
    border: none;
    background-color: inherit;
}
#dashboard-container{
    gap: clamp(var(--dashboard-min-gap) , 1.6vw, var(--dashboard-max-gap) );
}
#dashboard-container>img{
    width: var(--dashboard-font-size);
}
#dashboard-container>button{
    font-size: var(--dashboard-font-size);
}

#second-container{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

main{
    display: flex;
    flex-direction: column;
    
    margin-bottom: auto;
    position: relative;
}

nav,
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-2);
}

nav{
    /* min-height: clamp(36px, 7vh, 80px); */
    min-height: var(--nav-height);
    padding: 0px var(--nav-horizontal-padding);
    /* font-size: var(--sidebar-font-size); */
    font-size: var(--nav-font-size);
}

nav .left{    
    display: flex;
    gap: var(--nav-gap);
    
    position: relative;
    align-items: center;
}
nav input{
    font-size: inherit;
    width: 50vw;
    border: none;
    border-radius: 18px;

    padding: 4px 4px 4px 40px;
}
#search{
    position: absolute;
    /* top: calc(0.5 * var(--font-size-1) ); */
    top: 16px;
    left: 4px;
}
nav .right{
    display: flex;
    align-items: center;
    gap: var(--nav-gap);
}
nav img{
    /* height: var(--font-size-1); */
    height: var(--nav-img-height);
    cursor: pointer;
}
#logo{
    /* height: clamp(32px, 5vh, 60px); */
    height: var(--nav-logo-height);
    padding: 2px;
    border-radius: 100%;
    background-color: #fff;
}


header{
    position: sticky;
    top: 0px;
    
    min-height: calc(4 * var(--sidebar-font-size));
    padding: 0px var(--nav-horizontal-padding);
    
    align-items: center;
    font-size: var(--dashboard-font-size);

    flex-wrap: wrap;
    /* gap: 8px; */
}
header .left{
    display: flex;
    gap: 8px;
    margin: 8px 0px;
}
header .right{
    display: flex;
    gap: 8px;
    margin: 8px 0px;
    flex-wrap: wrap;
    justify-content: space-around;
}
#greeting{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header button{
    font-size: var(--sidebar-font-size);
    height: var(--header-btn-height);
    width: var(--header-btn-width);
    /* padding: 8px 12px; */
    border: none;
    border-radius: 48px;
    cursor: pointer;
}
header img{
    height: var(--header-img-height);
    /* height: clamp(42px, 7vh, 64px); */
    padding: 2px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
}

#logo:hover,
#profile-img:hover{
    background-color: var(--color-3);
}

#scrollable{
    display: flex;
}

#cards-container{
    /* background-color: #52485f; */
    background-color: var(--color-4);
    
    flex-basis: calc( 7.5 * var(--second-container-width) /10);
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-total-min-width), 1fr));
    grid-template-rows: 48px;
    grid-auto-rows: var(--card-total-height);
    
    justify-content: space-around;
}
#cards-container>h1{
    grid-column: 1/-1;
    margin-left: var(--card-horizontal-margin);
    align-self: center;
    /* font-size: var(--dashboard-font-size); */
    font-size: 36px;
}
.card{
    background-color: #fff;
    margin: 20px;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#last-card{
    border: 4px dashed blue;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.lower-card{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}
.card-img-container{
    display: flex;
    justify-content: center;
}
.card h1{
    /* text-align: center; */
    margin-bottom: 16px;
    font-size: 28px;
}
.card p{
    max-width: 44ch;
    max-width: clamp(40ch, 80%, 65ch);
}
.card-icon {
    width: 24px;
    cursor: pointer;
}
#last-card img{
    width: 128px;
    cursor: pointer;
}
#last-card h1{
    margin: 16px 0px 0px 0px;
    text-align: center;
}

#explore-container{
    flex-basis: calc(2.5 * var(--second-container-width) /10);

    /* background-color: gold; */
    background-color: var(--color-4);

    & .items-2{
        height: 500px;
        /* background-color: violet; */
        background-color: #fff;
        margin: 20px;
    }
}
footer{
    background-color: black;
    flex-shrink: 0;
    height: 44px;
}

@media screen and (max-width: 900px) {
    :root{
        --first-container-width: 40px;
    }
    #first-container{
        padding: 20px 4px 20px 4px;
        min-width: var(--first-container-width);

        overflow: hidden;
    }
    #scrollable{
        flex-wrap: wrap;
    }
    #cards-container{
        order: 1;
        --card-total-min-width: calc(var(--second-container-width));
    }
    nav input{
        width: 44vw;
    }
    nav .name{
        display: none;
    }
}